@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

*:focus { outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

.common{
  scroll-snap-align: start;
}

.wrapper{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.landingPage{
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: relative;
  /* background-color: aqua; */
}

.nav{
  z-index: 0;
  height: 50px;
  width: 100%;
  line-height: 50px;
  background-color: #ff0a54;
  color:white;
  position: fixed;
  top: 0;
}

.canvas{

  position: fixed;
  top:0%;
  width:100%;
  height:80vh;
  z-index: -2;
}

.landingPage h1{
  text-align: center;
  width: 100%;
  position:absolute;
  top: 50%;
  left:50%;
  color:black;
  font-weight: 900;
  font-size: 4rem;
  text-transform: uppercase;
  transform: translate(-50%,-50%);
}

.about{
  padding-top: 60px;
  padding-bottom: 60px;
  /* background-color: white; */
  /* height: 100%; */
}

.about p,.userpage span{

  font-size: 2rem;
  font-weight: bold;

}

.wrap{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
 
}
i{
  color:#ff0a54;
}

.one,.three,.five{

  width:50%;
  display: flex;
  line-height: 20px;
  /* text-align: center; */
 justify-content: center;
}

.one span,.three span,.five span{
  font-weight: bold;
  font-size: 1.3rem;
}

.two,.four,.six{
  height: 300px;
  width:50%;
  justify-content: center;
}

.three{
  order:2;
}
.four{
  order:1;
}

.tip{
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.feedback{
  height: 100vh;
  z-index: -1;
  position: relative;
  padding-top: 60px;
  background-color: rgba(255, 10, 84,0.5);
}
.feedback p{
  color:white;
  font-size:3.8rem;
  font-weight: 900;
  margin-bottom: 30px;
}

.support{
  color:white;
}
.center{
  position: absolute;
  top:50%;
  text-align: center;
  left: 50%;
  transform: translate(-50%,-50%);
}

.crushadd{
  position:fixed;
  bottom: 50px;

}

.crushList,.friendList{
  margin: auto;
  width:max-content;
  border-radius: 10px;
}

.friendList{
  height: 65vh;
    overflow-y: scroll;
}

/* .tabmenu{
  margin: auto;
} */

.cf{
  width: max-content;
  height: 150px;
}

.userpage{
  background-color:rgba(255, 10, 84,0.3);
  width:100%;
  z-index: -1;
  height: 100vh;
  padding-top: 60px;
}
.friendList::-webkit-scrollbar-track {
  background-color: #2D3748;
  border-radius:10px;
}

.friendList::-webkit-scrollbar {
  width: 5px;
  /* border-radius:5px; */
}

.friendList::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #4A5568;

}

.friendpage{
  background-color:rgba(255, 10, 84,0.3);
  width:100%;
  z-index: -1;
  height: 100vh;
  padding-top: 60px;
}

@media (max-width:500px){
  .landingPage h1{
    /* border: 1px solid blue; */
    font-size:1.2rem;
  }
  .wrap{
    flex-direction: column;
  }
  .one,.three,.five{
   justify-content: left;
    width: 100%;
  }
  .two,.five,.six{
    width: 100%;
  }
  .three{
    order:1;
  }
  .four{
    order:2;
  }
}

@media (max-width:900px){
  .landingPage h1{
    font-size: 2.9rem;
  }
}